<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todos os Chamados</title>
</head>
<body>
<h1>Lista de Chamados</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.titulo}"></td>
        <td th:text="${ticket.descricao}"></td>
        <td th:text="${ticket.status}"></td>
        <td th:text="${ticket.dataCriacao}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
